@use '_config' as *;
@use '_mixin' as *;
// ヘッダーフッター

#fk-header-js{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  @include mq-up(){
    height: vwpc(164);
  }
  @include mq-max(){
    height: rem(164);
  }
  @include mq-down(){
    height: vw(80);
  }
}
.fk-header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  // background: $base-color-white;
  height: vwpc(164);
  padding:vwpc(48) vwpc(56) vwpc(12) vwpc(48);
  @include mq-max(){
    height: rem(164);
    padding:rem(48) rem(56) rem(12) rem(48);
  }
  @include mq-down(){
    height: vw(80);
    padding: vw(16) vw(16) vw(24);
  }

  &__logo{
    display: flex;
    justify-content: space-between;
    width:vwpc(278);
    align-items: center;
    @include mq-max(){
      width:rem(250);
      padding: 0 0 rem(8);
    }
    @include mq-down(){
      width:vw(114);
      padding: 0 0 ;
    }
    &Image {
      width: vwpc(100);
      @include mq-down(){
        width:vw(40);
      }
    }
    &Text{
      width: vwpc(164);
      @include mq-down(){
        width:vw(66);
      }
    }
  }
  &__navList{
    display:flex;
    justify-content: space-between;
    li{
      font-size: vwpc(28);
      width: vwpc(200);
      margin-right: vwpc(30);
      font-weight: 700;
      @include mq-max(){
        font-size: rem(28);
        width: rem(200);    
        margin-right: rem(30);
      }
      &:last-child{
        width:vwpc(320);
        margin-right: 0;
        margin-left: vwpc(60);
        @include mq-max(){
          width:rem(320);
          margin-left: rem(60);
        }
      }
      a {
        margin: 0 auto;
        display: block;
        width:fit-content;
        text-align: center;
        padding: vwpc(16) 0 vwpc(8);
        @include mq-max(){
          padding: rem(16) 0 rem(8);
        }
        &.fk-button__iconMail{
          width: 100%;
          margin: 0;
          font-size: vwpc(28);
          display: flex;
          justify-content: space-between;
          padding: vwpc(16) vwpc(48) vwpc(16) vwpc(52);
          @include mq-max(){
            font-size: rem(28);
            padding: rem(16) rem(48) rem(16) rem(52);
          }
        }
      }
    }
    @include mq-down(){
      display: none;
    }
  }
}

.fk-mobile-menu-icon {
  @include mq-up(){
    display: none;
  }
  position: absolute;
  top:vw(26);
  right:vw(23);
  z-index: 20;
  & > span {
    background-color: black;
    width: vw(24);
    height: 1px;
    display: block;
    margin-bottom: vw(8);
    transition: transform .7s;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.js-open {
    & > span {
      background: $base-color-black;
      &:nth-child(1) {
        transition-delay: 70ms;
        transform: translateY(vw(9)) rotate(135deg);
      }
      &:nth-child(2) {
        transition-delay: 0s;
        transform: translateX(vw(-16)) scaleX(0);
      }
      &:nth-child(3) {
        transition-delay: 140ms;
        transform: translateY(vw(-9)) rotate(-135deg);
      }
    }
  }
}

body.js-overlay {
  overflow-y: hidden;
}

.fk-overlay {
  &.js-show {
    opacity: 1;
    pointer-events: auto;
  }
  @include mq-up(){
    display: none;
  }
  overflow-y: scroll;
  // display:block;
  color:$base-color-black;
  font-weight: 700;
  font-size: vw(12);
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $base-color-yellow;      
  padding: vw(24) vw(24) vw(40);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in;
  z-index:18;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  &__header{
    margin-top: vw(49);
    display: flex;
    flex-direction:column;
    align-items: center;
    &Address{
      margin-bottom: vw(19);
    }
    &SnsIcons{
      display: flex;
      gap: vw(24);
      margin-bottom: vw(72);
      & li {
        width:vw(24);
      }
    }
    &CompanyName{
      margin-bottom: vw(16);
    }
  }
  &__navList{
    display: flex;
    flex-direction: column;
    font-size:vw(14);
    gap:vw(24);
    margin-bottom: vw(52);
    align-items: center;
  }
  &__copyright{
    font-family: roboto;
    font-size: vw(12);
    font-weight: 300;
  }

}



.fk-footer {
  color: $base-color-white;
  background: $base-color-brown;
  font-weight: 700;
  position: relative;
  @include mq-up(){
    font-size: vwpc(28);
  }
  @include mq-max(){
    font-size: rem(28);
  }
  @include mq-down(){
    font-size: vw(12);
  }
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq-up(){
      padding: vwpc(80) 0 vwpc(95);
      max-width: vwpc(1668);
      margin: 0 auto;
    }
    @include mq-max(){
      padding: rem(80) 0 rem(95);
      max-width: rem(1668);
    }
    @include mq-down(){
      flex-direction: column;
      padding: vw(48) vw(36) vw(48);
    }
  }
  &__addressArea{
    @include mq-down(){
      text-align: center;
      width: 100%;
    }

  }
  &__logo{
    display: flex;
    justify-content: space-between;
    width:vwpc(278);
    align-items: center;
    // padding: 0 0 vwpc(8);
    margin-bottom: vwpc(34);
    @include mq-max(){
      width:rem(250);
      padding: 0 0 rem(8);
      margin-bottom: rem(34);
    }
    @include mq-down(){
      width:vw(114);
      margin: 0 auto;
      padding: 0 0 ;
    }
    &Image {
      width: vwpc(100);
      @include mq-down(){
        width:vw(40);
      }
    }
    &Text{
      width: vwpc(164);
      @include mq-down(){
        width:vw(66);
      }
    }
  }
  &__address{
    font-size: vwpc(32);
    @include mq-max(){
      font-size: rem(32);

    }
    @include mq-down(){
      font-size: vw(12);
      margin-bottom: vw(32);
      margin-top: vw(20);

    }

  }
  
  &__nav{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    @include mq-down(){
      align-items: center;
    }
  }
  &__navSns{
    display: flex;
    gap:vwpc(40);
    margin-bottom: vwpc(82);
    @include mq-max(){
      gap:rem(40);
      margin-bottom: rem(82);
      
    }
    @include mq-down(){
      gap:vw(24);
      margin-bottom: vw(48);
    }
    li {
      width: vwpc(50);
      @include mq-max(){
        width: rem(50);
        
      }
      @include mq-down(){
        width:vw(24);
        
      }
    }
  } 
  &__navList{
    display: flex;
    gap: vwpc(100);
    margin-bottom: vwpc(86);
    
    @include mq-max(){
      gap: rem(100);
      margin-bottom: rem(86);
      
    }
    @include mq-down(){
      order: -1;
      flex-direction: column;
      align-items: center;
      margin-bottom:vw(48);

      gap: vw(24);

    }
  }
    
}

// メイン
.fk-wrap {
  max-width: rem(1920);
  margin: 0 auto;
}
.fk-mainContent {
  margin-top: vwpc(140);
  margin-bottom: vwpc(256);
  @include mq-max(){
    margin-top: rem(140);
    margin-bottom: rem(256);
  }
  @include mq-down() {
    margin-top: vw(68);
  }
}
.fk-container{
  max-width: vwpc(1480);
  margin: 0 auto;
  @include mq-max(){
    max-width: rem(1480);
  }
  @include mq-down() {
    max-width: 100%;
    margin-left: vw(24);
    margin-right: vw(24);
  }
}
#fk-footer-js{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
// .fk-inner{
//   @include mq-up(){
//     padding: 0 vwpc(40) 0 ;
//   }
//   @include mq-max(){
//     padding: 0 rem(40) 0 ;
//   }
//   @include mq-down(){
//     padding: 0 vw(8) 0 ;
//   }
// }
// .fk-section {
//   position: relative;
//   &:nth-of-type(odd){
//     &:before{
//       content:"";
//       position: absolute;
//       background: url("/assets/images/wave01.png") no-repeat 0 0 / 100%;
//       width: 100%;
//       height: vwpc(280);
//       top: vwpc(-270);
//       @include mq-max(){
//         // background-size: cover;
//         height: rem(280);
//         top: rem(-270);
        
//       }
//     }
    
//   }
//   &:nth-of-type(even){
//     // background:$base-color-blue;
//     &:before{
//       content:"";
//       position: absolute;
//       background: url("/assets/images/wave02.png") no-repeat 0 0 / 100%;
//       width: 100%;
//       height: vwpc(280);
//       top: vwpc(-270);
//       @include mq-max(){
//         // background-size: cover;
//         height: rem(280);
//         top: rem(-270);

//       }
      
//     }
//   }
// }


