@use '../config' as *;
@use '../mixin' as *;

.greeting .fk-mainContent{
  background: url('/assets/images/object/bg_obje01.svg') no-repeat left bottom/62% ;
}

.fk-section__greeting-1{
  .fk-button-1{
    margin-top :vwpc(120);
    @include mq-up(){
      margin-top :rem(120);
    }
    @include mq-down(){
      margin-top :vw(56);
    }
  }
  .fk-headingWrap {
    margin-bottom: vwpc(120);
  }
}
