@-webkit-keyframes unyonnyo {
  0% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }

  50% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }

  100% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }
}

@keyframes unyonnyo {
  0% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }

  50% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }

  100% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }
}

@-webkit-keyframes unyonnyo2 {
  0% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }

  50% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }

  100% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }
}

@keyframes unyonnyo2 {
  0% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }

  50% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }

  100% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }
}

@-webkit-keyframes poyopoyo {
  0% {
    top: 6px;
    left: 6px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 6px;
    left: 6px;
  }
}

@keyframes poyopoyo {
  0% {
    top: 6px;
    left: 6px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 6px;
    left: 6px;
  }
}

@-webkit-keyframes poyopoyo2 {
  0% {
    top: -7px;
    left: -7px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: -7px;
    left: -7px;
  }
}

@keyframes poyopoyo2 {
  0% {
    top: -7px;
    left: -7px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: -7px;
    left: -7px;
  }
}

@-webkit-keyframes poyopoyo_mini {
  0% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 2px;
    left: 2px;
  }
}

@keyframes poyopoyo_mini {
  0% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 2px;
    left: 2px;
  }
}

@-webkit-keyframes poyopoyo2_mini {
  0% {
    top: -3px;
    left: -3px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: -3px;
    left: -3px;
  }
}

@keyframes poyopoyo2_mini {
  0% {
    top: -3px;
    left: -3px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: -3px;
    left: -3px;
  }
}

@-webkit-keyframes kurukuru_right {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 40% 60%;
    transform-origin: 40% 60%;
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 45% 55%;
    transform-origin: 45% 55%;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 40% 60%;
    transform-origin: 40% 60%;
  }
}

@keyframes kurukuru_right {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 40% 60%;
    transform-origin: 40% 60%;
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 45% 55%;
    transform-origin: 45% 55%;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 40% 60%;
    transform-origin: 40% 60%;
  }
}

@-webkit-keyframes kurukuru_left {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 40% 60%;
    transform-origin: 40% 60%;
  }

  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: 45% 55%;
    transform-origin: 45% 55%;
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: 40% 60%;
    transform-origin: 40% 60%;
  }
}

@keyframes kurukuru_left {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 40% 60%;
    transform-origin: 40% 60%;
  }

  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: 45% 55%;
    transform-origin: 45% 55%;
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: 40% 60%;
    transform-origin: 40% 60%;
  }
}

.company-img-area img {
  width: 100%;
}

.div-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fk-recruit__textArea {
  padding-left: 40px;
}

.fk-recruit__textArea dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

dd {
  width: 70%;
  border-bottom: 0.5px solid;
}

dt {
  width: 30%;
  border-bottom: 0.5px solid;
}

.fk-object--recruit-1 .fk-object__shape:nth-child(1) {
  top: 13.96vw;
  right: 12%;
  width: 15.89vw;
  height: 16.93vw;
}

.fk-object--recruit-1 .fk-object__shape:nth-child(1):before {
  -webkit-animation: unyonnyo 8s infinite ease-in-out, poyopoyo 16s infinite ease-in-out, kurukuru_right 28s infinite linear;
  animation: unyonnyo 8s infinite ease-in-out, poyopoyo 16s infinite ease-in-out, kurukuru_right 28s infinite linear;
}

.fk-object--recruit-1 .fk-object__shape:nth-child(1):after {
  -webkit-animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2 16s infinite ease-in-out, kurukuru_right 28s infinite linear;
  animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2 16s infinite ease-in-out, kurukuru_right 28s infinite linear;
}

.fk-object--recruit-1 .fk-object__shape:nth-child(2) {
  top: 35.42vw;
  right: 19%;
  width: 6.35vw;
  height: 6.25vw;
}

.fk-object--recruit-1 .fk-object__shape:nth-child(2):before {
  -webkit-animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 16s infinite ease-in-out, kurukuru_right 24s infinite linear;
  animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 16s infinite ease-in-out, kurukuru_right 24s infinite linear;
}

.fk-object--recruit-1 .fk-object__shape:nth-child(2):after {
  -webkit-animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2_mini 16s infinite ease-in-out, kurukuru_right 24s infinite linear;
  animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2_mini 16s infinite ease-in-out, kurukuru_right 24s infinite linear;
}

.fk-object--recruit-2 .fk-object__shape:nth-child(1) {
  top: -0.68vw;
  right: 8%;
  width: 19.01vw;
  height: 20vw;
}

.fk-object--recruit-2 .fk-object__shape:nth-child(1):before {
  -webkit-animation: unyonnyo 8s infinite ease-in-out, poyopoyo 16s infinite ease-in-out, kurukuru_right 28s infinite linear;
  animation: unyonnyo 8s infinite ease-in-out, poyopoyo 16s infinite ease-in-out, kurukuru_right 28s infinite linear;
}

.fk-object--recruit-2 .fk-object__shape:nth-child(1):after {
  -webkit-animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2 16s infinite ease-in-out, kurukuru_right 28s infinite linear;
  animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2 16s infinite ease-in-out, kurukuru_right 28s infinite linear;
}

.fk-object--recruit-2 .fk-object__shape:nth-child(2) {
  top: 22.86vw;
  right: 10%;
  width: 6.35vw;
  height: 6.51vw;
}

.fk-object--recruit-2 .fk-object__shape:nth-child(2):before {
  -webkit-animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 16s infinite ease-in-out, kurukuru_right 24s infinite linear;
  animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 16s infinite ease-in-out, kurukuru_right 24s infinite linear;
}

.fk-object--recruit-2 .fk-object__shape:nth-child(2):after {
  -webkit-animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2_mini 16s infinite ease-in-out, kurukuru_right 24s infinite linear;
  animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2_mini 16s infinite ease-in-out, kurukuru_right 24s infinite linear;
}

.fk-object--recruit-3 .fk-object__shape:nth-child(1) {
  top: -7.5vw;
  left: 5%;
  width: 11.82vw;
  height: 13.75vw;
  z-index: 0;
}

.fk-object--recruit-3 .fk-object__shape:nth-child(1):before {
  -webkit-animation: unyonnyo 16s infinite ease-in-out, poyopoyo 24s infinite ease-in-out, kurukuru_right 24s infinite linear;
  animation: unyonnyo 16s infinite ease-in-out, poyopoyo 24s infinite ease-in-out, kurukuru_right 24s infinite linear;
}

.fk-object--recruit-3 .fk-object__shape:nth-child(1):after {
  -webkit-animation: unyonnyo2 20s infinite ease-in-out, poyopoyo2 24s infinite ease-in-out, kurukuru_right 24s infinite linear;
  animation: unyonnyo2 20s infinite ease-in-out, poyopoyo2 24s infinite ease-in-out, kurukuru_right 24s infinite linear;
}

.fk-section__recruit-1 .fk-container {
  position: relative;
  z-index: 1;
}

.fk-section__recruit-3 .fk-container {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .fk-section__recruit-1 {
    padding-bottom: 23.96vw;
  }

  .fk-section__recruit-2 {
    padding-bottom: 23.96vw;
  }

  .fk-section__recruit-3 {
    padding-bottom: 15.63vw;
  }

  .fk-heading-3 {
    margin-top: 1em;
  }

  .fk-heading-3:first-of-type {
    margin-top: 0;
  }

  .company-detail-title {
    margin-right: 7.81vw;
  }

  .company-img-area {
    width: 31.25vw;
  }

  .company-details {
    width: 42.19vw;
  }

  .fk-button-1 {
    margin-top: 7.81vw;
  }

  .fk-recruit__textArea {
    padding-left: 2.08vw;
  }

  .company-image {
    width: 31.25vw;
    padding-top: 2.34vw;
  }

  .fk-section__recruit-3 {
    padding-bottom: 6.77vw;
  }

  .text-area {
    margin-top: 2.08vw;
  }

  dd {
    padding-top: 1.04vw;
    padding-bottom: 1.04vw;
  }

  dt {
    padding-top: 1.04vw;
    padding-bottom: 1.04vw;
  }
}

@media screen and (min-width: 1920px) {
  .company-img-area {
    width: 37.5rem;
  }

  .company-details {
    width: 50.63rem;
  }

  .fk-recruit__textArea {
    padding-left: 2.5rem;
  }

  .company-image {
    width: 37.5rem;
    padding-top: 2.81rem;
  }

  .fk-section__recruit-3 {
    padding-bottom: 8.13rem;
  }

  .text-area {
    margin-top: 2.5rem;
  }

  dd {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  dt {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .fk-object--recruit-1 .fk-object__shape:nth-child(1) {
    top: 16.75rem;
    width: 19.06rem;
    height: 20.31rem;
  }

  .fk-object--recruit-1 .fk-object__shape:nth-child(2) {
    top: 42.5rem;
    width: 7.63rem;
    height: 7.5rem;
  }

  .fk-object--recruit-2 .fk-object__shape:nth-child(1) {
    top: -0.81rem;
    width: 22.81rem;
    height: 24rem;
  }

  .fk-object--recruit-2 .fk-object__shape:nth-child(2) {
    top: 27.44rem;
    width: 7.63rem;
    height: 7.81rem;
  }

  .fk-object--recruit-3 .fk-object__shape:nth-child(1) {
    top: -9rem;
    width: 14.19rem;
    height: 16.5rem;
  }
}

@media screen and (max-width: 767px) {
  .fk-section__recruit-1 {
    padding-bottom: 25.45vw;
  }

  .fk-section__recruit-2 {
    padding-bottom: 25.45vw;
  }

  .fk-section__recruit-3 {
    padding-bottom: 25.45vw;
  }

  .fk-heading-3 {
    margin-top: 1.5em;
  }

  .company-detail-title {
    margin-right: 12.72vw;
  }

  .company-img-area {
    width: 76.34vw;
  }

  .company-details {
    width: 100%;
  }

  .fk-button-1 {
    margin-top: 21.37vw;
  }

  .fk-recruit__textArea {
    padding-left: 2.04vw;
  }

  .company-image {
    display: none;
  }

  .fk-section__recruit-3 {
    padding-bottom: 25.45vw;
  }

  .text-area {
    margin-top: 5.09vw;
  }

  dd {
    padding-top: 3.82vw;
    padding-bottom: 3.82vw;
    font-size: 12px;
  }

  dt {
    padding-top: 3.82vw;
    padding-bottom: 3.82vw;
    font-size: 12px;
  }

  .fk-object--recruit-1 .fk-object__shape:nth-child(1) {
    top: 3.05vw;
    right: 4%;
    width: 20.36vw;
    height: 21.63vw;
    z-index: 0;
  }

  .fk-object--recruit-1 .fk-object__shape:nth-child(1):before {
    -webkit-animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 12s infinite ease-in-out, kurukuru_right 28s infinite linear;
    animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 12s infinite ease-in-out, kurukuru_right 28s infinite linear;
  }

  .fk-object--recruit-1 .fk-object__shape:nth-child(1):after {
    -webkit-animation: unyonnyo2 10s infinite ease-in-out, poyopoyo2_mini 12s infinite ease-in-out, kurukuru_right 28s infinite linear;
    animation: unyonnyo2 10s infinite ease-in-out, poyopoyo2_mini 12s infinite ease-in-out, kurukuru_right 28s infinite linear;
  }

  .fk-object--recruit-1 .fk-object__shape:nth-child(2) {
    display: none;
  }

  .fk-object--recruit-2 .fk-object__shape:nth-child(1) {
    top: -3.31vw;
    right: 4%;
    width: 18.83vw;
    height: 19.85vw;
  }

  .fk-object--recruit-2 .fk-object__shape:nth-child(1):before {
    -webkit-animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 12s infinite ease-in-out, kurukuru_right 28s infinite linear;
    animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 12s infinite ease-in-out, kurukuru_right 28s infinite linear;
  }

  .fk-object--recruit-2 .fk-object__shape:nth-child(1):after {
    -webkit-animation: unyonnyo2 10s infinite ease-in-out, poyopoyo2_mini 12s infinite ease-in-out, kurukuru_right 28s infinite linear;
    animation: unyonnyo2 10s infinite ease-in-out, poyopoyo2_mini 12s infinite ease-in-out, kurukuru_right 28s infinite linear;
  }

  .fk-object--recruit-2 .fk-object__shape:nth-child(2) {
    display: none;
  }

  .fk-object--recruit-3 .fk-object__shape:nth-child(1) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
