@use '../config' as *;
@use '../mixin' as *;

.fk-section__vision-1{
  z-index: 1;
  @include mq-up(){
    padding-bottom:vwpc(460);
  }
  @include mq-max(){
    padding-bottom:rem(460);
  }
  @include mq-down(){
    padding-bottom:vw(100);
  }
  &:before{
    z-index: -1;
  }
}
.fk-section__vision-2{
  // background:$base-color-blue;
  @include mq-up(){
    padding-bottom:vwpc(460);
  }
  @include mq-max(){
    padding-bottom:rem(460);
  }
  @include mq-down(){
    padding-bottom:vw(100);
  }
}
.fk-section__vision-3{
  @include mq-up(){
    padding-bottom:vwpc(130);
  }
  @include mq-max(){
    padding-bottom:rem(130);
  }
  @include mq-down(){
    padding-bottom:vw(50);
  }
}

.fk-heading-3 {
  @include mq-up(){
    margin-top:1em;
    &:first-of-type{
      margin-top:0;
    }
  }
  @include mq-down(){
    margin-top:1.5em;
  }
}

.fk-vision__textArea + .fk-button-1{
  @include mq-up(){
    margin-top:vwpc(150);
  }
  @include mq-max(){
    margin-top:rem(150);
  }
  @include mq-down(){
    margin-top:vw(84);
  }
}




