@use '../config' as *;
@use '../mixin' as *;

.company .fk-mainContent{
  background:  url('/assets/images/object/bg_obje01.svg') no-repeat left 100%/60%;
}

// .fk-section__company-1 .fkcontentWrap 

.fk-companyTable{
  display: flex;
  flex-wrap: wrap;
  .fk-text-1 {
    margin-top:0 ;
  }
  dt {
    width: 15%;
  }
  dd {
    width: 85%;
    padding: 0 0 vwpc(20) vwpc(20);
    @include mq-up(){
      min-height: rem(100);
      padding: 0 0 rem(20) rem(20);
    }
    @include mq-down(){
      min-height: rem(100);
      padding: 0 0 rem(20) rem(20);
    }
  }
}
.fk-section__company-1{
  margin-bottom: vwpc(50);
  @include mq-up(){
    margin-bottom: rem(50);
  }
  @include mq-down(){
    margin-bottom: vw(50);
  }
}

.fk-text-2 {
  line-height: 2;
}