@charset "UTF-8";

.top {
  overflow-x: hidden;
}

.top main {
  margin-top: 0;
}

.top #fk-header-js {
  position: absolute;
  width: 100%;
  z-index: 20;
}

.top .fk-header {
  background: transparent;
}

.top .fk-footer:before {
  content: "";
  position: absolute;
  background: url("/assets/images/wave_light01.png") no-repeat 0 0/100%;
  width: 100%;
  height: 7.81vw;
  top: -7.29vw;
  pointer-events: none;
}

.top .fk-section {
  overflow: hidden;
}

.top .fk-section::before {
  content: none;
}

.top .fk-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 7.29vw 0;
}

.fk-top-content {
  width: 50%;
}

.top .fk-button-1 {
  margin-top: 3.28vw;
}

.fk-top-inner {
  padding-left: 2.08vw;
}

.fk-top-contentImage {
  width: 100vw;
  max-width: 50%;
  margin: 0 calc(50% - 50vw) 0;
}

.fk-top-contentImage img {
  width: 41.67vw;
  display: block;
}

.fk-heading-3 {
  margin-top: 1em;
}

.fk-heading-3:first-of-type {
  margin-top: 0;
}

.fk-news-list {
  margin-top: 3.7vw;
  color: #fff;
  font-size: 1.25vw;
  row-gap: 1.67vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fk-news-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #fff;
  position: relative;
}

.fk-news-list .dt {
  width: 25%;
  text-align: center;
}

.fk-news-list .dd {
  width: 75%;
  padding-right: 3.13vw;
}

.fk-news-list .dd::after {
  content: "→";
  position: absolute;
  right: 1.25vw;
  top: 0;
}

.fk-top-online {
  padding: 4.43vw 0 5.52vw;
}

.fk-top-online .fk-heading-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2.29vw;
}

.fk-top-online__image img {
  width: 100%;
}

.fk-top-mv {
  height: 56.25vw;
  background: url("/assets/images/top_MV01.jpg") no-repeat 0 0/cover;
  position: relative;
}

.fk-top-mvTitle {
  position: relative;
  z-index: 10;
  padding-top: 16.67vw;
  text-align: center;
  margin-bottom: 10.94vw;
}

.fk-top-mvTitle__text {
  margin-bottom: 1.77vw;
}

.fk-top-mvScrollGuide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.fk-top-mvScrollGuide:after {
  content: "";
  background: #fff;
  margin: 1.35vw auto 0;
  display: block;
  height: 1.77vw;
  width: 1.56vw;
  -webkit-clip-path: polygon(44% 0, 44% 80%, 0 60%, 0 75%, 50% 100%, 100% 75%, 100% 60%, 56% 80%, 56% 0);
  clip-path: polygon(44% 0, 44% 80%, 0 60%, 0 75%, 50% 100%, 100% 75%, 100% 60%, 56% 80%, 56% 0);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fk-top-mvScrollGuide__text {
  width: 13.33vw;
}

.fk-top-mvSide {
  position: absolute;
  width: 1.46vw;
  top: 35.05vw;
  left: 5.36vw;
}

.fk-top-mvSide__text:after {
  content: "";
  display: block;
  width: 2.6vw;
  height: 2.6vw;
  background: url("/assets/images/icon01.png") no-repeat 0 0/100%;
  margin-top: 1.15vw;
  margin-left: -0.73vw;
}

.fk-top-mvSide img {
  width: 100%;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-0.8em);
    transform: translateY(-0.8em);
  }

  60% {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-0.8em);
    transform: translateY(-0.8em);
  }

  60% {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
  }
}

.fk-top-mvTitle__text {
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  .fk-section:nth-of-type(odd) .fk-top-contentImage {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .fk-vision__content + .fk-button-1 {
    margin-top: 7.81vw;
  }

  .fk-top-mvTitle__text {
    font-size: 6.25vw;
  }
}

@media screen and (min-width: 1920px) {
  .top .fk-section:nth-of-type(odd) .fk-container .fk-top-content {
    margin-right: 13.75rem;
  }

  .top .fk-section:nth-of-type(even) .fk-container .fk-top-content {
    margin-left: 13.75rem;
  }

  .top .fk-container {
    max-width: 120rem;
    margin: 0 auto;
  }

  .top .fk-container .fk-top-contentImage {
    width: 46.25rem;
    margin: 0;
  }

  .top .fk-container .fk-top-content {
    max-width: 46.25rem;
  }

  .fk-top-mvTitle__text {
    font-size: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .top .fk-footer:before {
    height: 8.91vw;
    top: -7.38vw;
  }

  .top .fk-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 18.32vw 0 0;
  }

  .fk-top-content {
    width: 100%;
    margin-bottom: 16.28vw;
  }

  .top .fk-button-1 {
    margin-top: 5.85vw;
    width: 28.5vw;
    font-size: 3.05vw;
    padding: 1.02vw 3.05vw;
    line-height: 1.5;
  }

  .fk-top-contentImage {
    max-width: inherit;
  }

  .fk-top-contentImage img {
    width: 100%;
  }

  .fk-news-list {
    row-gap: 9.41vw;
    font-size: 3.05vw;
  }

  .fk-news-list .dd {
    padding-right: 7.63vw;
  }

  .fk-news-list .dd::after {
    right: 3.05vw;
  }

  .fk-top-online {
    padding: 10.18vw 0;
  }

  .fk-top-online .fk-heading-1 {
    margin-bottom: 5.6vw;
  }

  .fk-top-online__image {
    margin-bottom: 10.18vw;
  }

  .fk-top-mv {
    background: url("/assets/images/top_MV01sp.jpg") no-repeat 0 0/100%;
    height: 162.85vw;
  }

  .fk-top-mvTitle {
    padding-top: 61.07vw;
    margin-bottom: 37.15vw;
  }

  .fk-top-mvTitle__subText {
    margin-top: 0;
  }

  .fk-top-mvScrollGuide:after {
    height: 4.07vw;
    width: 4.07vw;
    margin: 2.54vw auto 0;
  }

  .fk-top-mvScrollGuide__text {
    width: 24.43vw;
  }

  .fk-top-mvSide {
    display: none;
  }

  .fk-top-mvTitle__text {
    font-size: 10.18vw;
  }
}
/*# sourceMappingURL=style.css.map */
